<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
 		<meta name="format-detection" content="telephone=no"/>
  	<meta name="apple-ombile-web-app-capable" content="no" />
  	<title>乐车邦</title>
  	<link rel="stylesheet" type="text/css" href="../../style/global.css"/>
  	<script src="../../controller/response.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../style/order/myorder.css"/>
	</head>
	<body>
		<section class="main" id="main" style="height: 100%;">
			<!--ui-header 固定写法不要动这个结构-->
      <header class="ui-header">
      	<div class="ui-header-inner">
  				<span class="ui-header-title  show-dots">填写爱车信息</span>
			    <div class="ui-header-left js-back">
			      <span class="ui-header-back"></span>
			    </div>
				  <div class="ui-header-right flex-wrap"></div>
				</div>
			</header>
			<!--ui-header end 固定写法不要动这个结构-->
			
	    <article class="page">
	    	<div style="height:100%;">
	    		<div class="page-content">
	    			
	    			
	    			<!--从这里开始写内容-->
	    			<div class="myorder">
							<div class="om-top">
								<ul class="line-shadow clearfix">
									<li class="gray6">订单类型<p class="iconfont">&#xe601;</p></li>
									<li class="gray6">订单状态<p class="iconfont">&#xe601;</p></li>
								</ul>
							</div>
							<div class="om-careorder line-shadow ">
								<div class="om-careorder-title font-s thirty-line-shadow clearfix">
									<P class="gray9 care-order font-s">保养订单</P>
									<P class="no-pay font-s">待付款</P>
								</div>
								<div class="om-careorder-con ">
									<ul class="order-items font gray6 thirty-line-shadow">
										<li>2013款迈腾1.4si 双离合 标准版 600 
											<div class="order-price">
												<strong class="font-xs">¥</strong>
												<span>579</span>
											</div>
										</li>
										<li>京A45889(9000公里)</li>
										<li>预约时间：2016-06-13  08:30</li>
									</ul>
								</div>
								<div class="om-careorder-con-btn">
									<div class="btn btn-1 pay-btn">立即支付</div>
								</div>	
							</div>
				
							<div class="om-careorder line-shadow">
								<div class="om-careorder-title font-s cat-line-shadow clearfix">
									<P class="gray9 care-order font-s">保养订单</P>
									<P class="no-pay font-s">已支付</P>
								</div>
								<div class="om-careorder-con">
									<ul class="order-items font gray6 cat-line-shadow">
										<li>2013款迈腾1.4si 双离合 标准版 600 
											<div class="order-price">
												<strong class="font-xs">¥</strong>
												<span>688</span>
											</div>
										</li>
										<li>京A45889(9000公里)</li>
										<li>预约时间：2016-06-13  08:30</li>
									</ul>
								</div>	
							</div>
				
							<div class="om-careorder line-shadow">
								<div class="om-careorder-title font-s cat-line-shadow clearfix">
									<P class="gray9 care-order font-s">保养订单</P>
									<P class="no-pay font-s">待评价</P>
								</div>
								<div class="om-careorder-con">
									<ul class="order-items font gray6 cat-line-shadow">
										<li>2013款迈腾1.4si 双离合 标准版 600 
											<div class="order-price">
												<strong class="font-xs">¥</strong>
												<span>579</span>
											</div>
										</li>
										<li>京A45889(9000公里)</li>
										<li>预约时间：2016-06-13  08:30</li>
									</ul>
								</div>
								<div class="om-careorder-con-btn">
									<div class="eva-btn btn btn-1">评价赢20元</div>
								</div>	
							</div>
				
							<div class="om-careorder line-shadow">
								<div class="om-careorder-title font-s cat-line-shadow clearfix">
									<P class="gray9 care-order font-s">保养订单</P>
									<P class="no-pay font-s">已支付</P>
								</div>
								<div class="om-careorder-con ">
									<ul class="order-items font gray6 cat-line-shadow">
										<li>2013款迈腾1.4si 双离合 标准版 600 
											<div class="order-price">
												<strong class="font-xs">¥</strong>
												<span>688</span>
											</div>
										</li>
										<li>京A45889(9000公里)</li>
										<li>预约时间：2016-06-13  08:30</li>
									</ul>
								</div>	
							</div>
				
							<div class="om-careorder line-shadow">
								<div class="om-careorder-title font-s cat-line-shadow clearfix">
									<P class="gray9 care-order font-s">保养订单</P>
									<P class="no-pay font-s">已支付</P>
								</div>
								<div class="om-careorder-con ">
									<ul class="order-items font gray6 cat-line-shadow">
										<li>2013款迈腾1.4si 双离合 标准版 600 
											<div class="order-price">
												<strong class="font-xs">¥</strong>
												<span>688</span>
											</div>
										</li>
										<li>京A45889(9000公里)</li>
										<li>预约时间：2016-06-13  08:30</li>
									</ul>
								</div>	
							</div>
						</div>	
	    			
	    			<!--从这里结束写内容-->
	    			
	    			
	    			
	    			
	
	    			
	    			
					</div>
	    	</div>
	    </article>
	</section>
	</body>
</html>