<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
 		<meta name="format-detection" content="telephone=no"/>
  	<meta name="apple-ombile-web-app-capable" content="no" />
  	<title>乐车邦</title>
  	<link rel="stylesheet" type="text/css" href="../../style/global.css"/>
  	<script src="../../controller/response.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../style/result/result.css"/>
	</head>
	<body>
		<section class="main" id="main" style="height: 100%;">
			<!--ui-header 固定写法不要动这个结构-->
      <header class="ui-header">
      	<div class="ui-header-inner">
  				<span class="ui-header-title  show-dots">支付结果</span>
			    <div class="ui-header-left js-back">
			      <span class="ui-header-back"></span>
			    </div>
				  <div class="ui-header-right flex-wrap"></div>
				</div>
			</header>
			<!--ui-header end 固定写法不要动这个结构-->
			
	    <article class="page">
	    	<div style="height:100%;">
	    		<div class="page-content">
	    			
	    			
	    			<!--从这里开始写内容-->
	    <div class="paymentResult">
			<div class="or-top-con white line-shadow margin">
				<div class="iconfont blue">&#xe641;</div>
				<div class="pay-suc py-font">支付完成</div>	
			</div>
			<div class="or-mid white line-shadow">
				<div class="or-mid-order margin-left cat-line-shadow clearfix">
					<h2 class="float">订单详情</h2>
					<div class="iconfont or-right-arrow float "></div>
				</div>
				<div class="or-mid-order-con clearfix">
					<ul class="order-table  gray6 margin-left ">
						<li>订单编号</li>
						<li>订单类型</li>
						<li>订单金额</li>
						<li>实付金额</li>
						<li>订单状态</li>
						<li>订单时间</li>
						<li>支付时间</li>
					</ul>
					<ul class="order-table-items  gray3 ">
						<li>0987765456759087</li>
						<li>洗车订单</li>
						<li>￥21.00</li>
						<li><span>￥</span><strong>18.00</strong></li>
						<li>已支付</li>
						<li>2016-06-13 08:30</li>
						<li>2016-06-13 09:30</li>
					</ul>
				</div>
				
			</div>
			<div class="or-footer white line-shadow">
				<div class="pic01 pic">
					<img src="../../order/img/footer-pic02.png" alt="">
				</div>
				<div class="pic02 pic">
					<img src="../../img/order/footer-pic01.png" alt="">
				</div>
				<div class="footer-font clearfix">
					<div class="support-photo">评价支持上传照片啦！</div>
					<div class="gray6 font eva">还有机会赢20元养车金哦~</div>
					<div class="gray6 font eva">查看为你准备的晒单攻略</div>		
				</div>
				<div class=" gray6 form-item-arrow"></div>
				
			</div>	
		</div>	
	    			
	    			<!--从这里结束写内容-->
	    			
	    			
	    			
	    			
	
	    			
	    			
					</div>
	    	</div>
	    </article>
	</section>
	</body>
</html>