<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
 		<meta name="format-detection" content="telephone=no"/>
  	<meta name="apple-ombile-web-app-capable" content="no" />
  	<title>乐车邦</title>
  	<link rel="stylesheet" type="text/css" href="../../style/global.css"/>
  	<script src="../../controller/response.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../style/careevaluate/careevaluate.css"/>
	</head>
	<body>
		<section class="main" id="main" style="height: 100%;">
			<!--ui-header 固定写法不要动这个结构-->
      <header class="ui-header">
      	<div class="ui-header-inner">
  				<span class="ui-header-title  show-dots">保养点评</span>
			    <div class="ui-header-left js-back">
			      <span class="ui-header-back"></span>
			    </div>
				  <div class="ui-header-right flex-wrap"></div>
				</div>
			</header>
			<!--ui-header end 固定写法不要动这个结构-->
			
	    <article class="page">
	    	<div style="height:100%;">
	    		<div class="page-content">
	    			
	    			
	    			<!--从这里开始写内容-->
						<div class="page-content-pic line-shadow">
							<p class="gray6 font">服务很好，很专业，下次还会选择乐车邦！</p>
							<ul class="clearfix">
								<li><img/care src="../../img/care/pic01.png" alt=""></li>
								<li><img/care src="../../img/care/pic02.png" alt=""></li>
								<li><img/care src="../../img/care/pic03.png" alt=""></li>
								<li ><div class="xubian iconfont">&#xe622;</div></li>
								<div class="iconfont remove-icon">&#xe633;</div>
								<div class="iconfont remove-icon remove-icon02">&#xe633;</div>
								<div class="iconfont remove-icon remove-icon03">&#xe633;</div>
							</ul>
						</div>
						<div class="page-content-serve line-shadow">
							<p class="serve-point font">服务评分</p>
							<div class="serve-con">
								<ul class="serve-con-ul01 clearfix">
									<li class="serve-con-li01 gray9">总体点评</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02 serve-con-li02-gray">&#xe634;</li>
									<li class="font serve-con-li03">很好</li>
								</ul>
							</div>
							<div class="serve-con ">
								<ul class="serve-con-ul01 clearfix">
									<li class="serve-con-li01 gray9">服务态度</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="font serve-con-li03">优质</li>
								</ul>
							</div>
							<div class="serve-con ">
								<ul class="serve-con-ul01 clearfix">
									<li class="serve-con-li01 gray9">维修效率</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02">&#xe634;</li>
									<li class="iconfont serve-con-li02 serve-con-li02-gray">&#xe634;</li>
									<li class="iconfont serve-con-li02 serve-con-li02-gray">&#xe634;</li>
									<li class="font serve-con-li03">一般</li>
								</ul>
							</div>
						</div>
						<div class="page-content-serve-extra line-shadow white">
								<p class="font ">是否存在额外消费</p>
								<div class="sel-btn">
									<div class="sel-btn-up sel-btn-same"></div>
									<div class="sel-btn-down sel-btn-same"></div>
								</div>
						</div>
						<div class="page-bottom">
							<p class="font">优质评价还有机会获得20元养车金</p>
							<div class="sumbit">
								<strong>提交</strong>
							</div>
						</div>
						<div class="pop-up btn">评价提交成功</div>
	    			
	    			<!--从这里结束写内容-->
	    			
	    			
	    			
	    			
	
	    			
	    			
					</div>
	    	</div>
	    </article>
	</section>
	</body>
</html>