<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
 		<meta name="format-detection" content="telephone=no"/>
  	<meta name="apple-ombile-web-app-capable" content="no" />
  	<title>乐车邦</title>
  	<link rel="stylesheet" type="text/css" href="../../style/global.css"/>
  	<script src="../../controller/response.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../style/rate/ratedetail.css"/>
	</head>
	<body>
		<section class="main" id="main" style="height: 100%;">
			<!--ui-header 固定写法不要动这个结构-->
      <header class="ui-header">
      	<div class="ui-header-inner">
  				<span class="ui-header-title  show-dots">评价详情</span>
			    <div class="ui-header-left js-back">
			      <span class="ui-header-back"></span>
			    </div>
				  <div class="ui-header-right flex-wrap"></div>
				</div>
			</header>
			<!--ui-header end 固定写法不要动这个结构-->
			
	    <article class="page">
	    	<div style="height:100%;">
	    		<div class="page-content">
	    			
	    			
	    			<!--从这里开始写内容-->
						<div class="tr-user clearfix fix-content ">
								<div class="tr-user-img">
									<img src="../../img/rate/images/user-headimg.png" alt="">
								</div>
								<div class="tr-user-name">
									<div class="tr-user-nickname gray6">
										<span>雨木木Crystal</span>
									</div>
									<div class="tr-user-time gray9 font">
										<span>2016-11-22  20:30</span>
									</div>						 	
								</div>	
							<div class="tr-user-price">
								<span class="tr-user-save-price">
									省了
									<span class="tr-icon-price font-xs">¥</span>300
								</span>
							</div>	
						</div>
						<!--
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-oneline">
								<ul>
									<li class="star-icon-li">
										<ul class="star-icon font-xs">
											<li class="iconfont">&#xe634;</li>
											<li class="iconfont">&#xe634;</li>
											<li class="iconfont">&#xe634;</li>
											<li class="iconfont">&#xe634;</li>
											<li class="iconfont">&#xe634;</li>
										</ul>
									</li>
									<li class="font-xs gray9 care-rate">保养评价</li>
								
								</ul>
							</div>
						</div>
					
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-twoline">
								<ul>
									<li class="car-number font-xs">MINI COUNTRYMAN 2014 ALL 4 FUN</li>
									<li class="font-xs gray9 care-rate">保养车型</li>
								
								</ul>
							</div>
						</div>
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-threeline">
								<ul>
									<li class="kilometre font-xs">30,000 km</li>
									<li class="font-xs gray9 care-rate">保养里程</li>
								
								</ul>
							</div>
						</div>
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-fourline">
								<ul>
									<li class="rate-time font-xs">
										2016-09-20
									</li>
									<li class="font-xs gray9 care-rate">保养时间</li>
								
								</ul>
							</div>
						</div>
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-fiveline">
								<ul>
									<li class="rate-items-content font-xs gray6">
										<span>
											<p>机油（原厂专用5W-30级矿物油）5.0L</p>
											<p>机油滤清器（原厂件）</p>
											<p>空调滤清器（原厂件）</p>
										</span>
										
									</li>
									<li class="font-xs gray9 rate-items-word">保养项目</li>
								</ul>
							</div>
						</div>
						<div class="tr-rate-contont">
							<div class="tr-rate-contont-sixline">
								<ul>
									<li class="rate-money">
										<div class="rate-money-items rate-money-items-red">
											<span class="font-xs">¥</span>
											<span>380</span>
										</div>
										<div class="rate-money-items gray9">
											<span><s class="font-xs">¥</s></span>
											<span><s>880</s></span>
										</div>
										
								
									</li>
									<li class="font-xs gray9 care-rate">保养金额</li>
								
								</ul>
							</div>
						</div>
						-->
						<div class="tr-rate-table">
							<table border="1" class="font-xs">
								<tr>
									<td class="tr-rate-title gray9">保养评价</td>
									<td class="tr-rate-content">
										<span class="star-wrap">
											<span class="star-item"></span>
											<span class="star-item"></span>
											<span class="star-item"></span>
											<span class="star-item"></span>
											<span class="star-item"></span>
										</span>
									</td>
								</tr>
								<tr>
									<td class="tr-rate-title gray9">保养车型</td>
									<td class="tr-rate-content gray6">MINI COUNTRYMAN 2014 ALL 4 FUN </td>
								</tr>
								<tr>
									<td class="tr-rate-title gray9">保养里程</td>
									<td class="tr-rate-content gray6">10000km</td>
								</tr>
								<tr>
									<td class="tr-rate-title gray9">保养时间</td>
									<td class="tr-rate-content gray6">2016-12-02</td>
								</tr>
								<tr>
									<td class="tr-rate-title gray9">保养项目</td>
									<td class="tr-rate-content gray6">
										<div>机油（原厂专用5W-30级矿物油）5.0L</div>
										<div>机油滤清器（原厂件）</div>
										<div>空调滤清器（原厂件）</div>
									</td>
								</tr>
								<tr>
									<td class="tr-rate-title gray9">保养金额</td>
									<td class="tr-rate-content gray6">
										<span class="rate-money-items rate-money-items-red">
											<span class="font-xs">¥</span>
											<span>380</span>
										</span>
										<span class="rate-money-items gray9">
											<span><s class="font-xs">¥</s></span>
											<span><s>880</s></span>
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class="user-rate-content cat-line-shadow">
							<div class="user-word">服务没话说，约的时间在中午，人不多，保养挺快的，还在4S店里吃了顿饭；比平时自己去便宜了300块，希望越做越好！服务没话说，约的时间在中午，人不多，保养挺快的，还在4S店里吃了顿饭；比平时自己去便宜了300块，希望越做越好！服务没话说，约的时间在中午，人不多，保养挺快的，还在4S店里吃了顿饭；比平时自己去便宜了300块，希望越做越好！</div>
							<div class="user-show-img">
								<img src="../../img/rate/images/user-show-img01.png" alt=""><img src="../../img/rate/images/user-show-img02.png" alt=""><img src="../../img/rate/images/user-show-img03.png" alt="">
							</div>
							<div class="user-add-rate font-xs">用户12天后追加评价</div>
							<div class="user-add-rate-word ">特地过了一周再来，比平时自己去洗的干净，希望越做越好！</div>
							<div class="user-4s-store font-xs  ">上海凡德4S店 </div>
						</div>
						<div class="share">
							<p class="share-word font gray6">分享给好友，共享乐车邦</p>
							<ul class="share-items font-s flex-wrap">
								<li class="flex">
									<p class="wechat"></p>
									<span class="gray9">微信好友</span>
								</li>
								<li class="flex">
									<p class="wechat-friend "></p>
									<span class="gray9">微信朋友圈</span>
								</li>
								<li class="flex">
									<p class="qqfriend"></p>
									<span class="gray9">QQ好友</span>
								</li>
								<li class="flex">
									<p class="weibo"></p>
									<span class="gray9">微博好友</span>
								</li>
							</ul>
						</div>
						
	    			
	    			<!--从这里结束写内容-->
	    			
	    			
	    			
	    			
	
	    			
	    			
					</div>
	    	</div>
	    </article>
	</section>
	</body>
</html>