<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
 		<meta name="format-detection" content="telephone=no"/>
  		<meta name="apple-ombile-web-app-capable" content="no" />
  		<title>乐车邦</title>
  		<link rel="stylesheet" type="text/css" href="../../style/global.css"/>
  		<script src="../../controller/response.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../style/4sstore/4sstoresituation.css"/>
	</head>
	<body>
		<section class="main" id="main" style="height: 100%;">
			<!--ui-header 固定写法不要动这个结构-->
      <header class="ui-header">
      	<div class="ui-header-inner">
  				<span class="ui-header-title  show-dots">4S店详情</span>
			    <div class="ui-header-left js-back">
			      <span class="ui-header-back"></span>
			    </div>
				  <div class="ui-header-right flex-wrap"></div>
				</div>
			</header>
			<!--ui-header end 固定写法不要动这个结构-->
			
	    <article class="page"-score	>
	    	<div style="height:100%;">
	    		<div class="page-content">
	    			<!--从这里开始写内容-->
	    			<div class="si-4s-introduction line-shadow">
						<div class="si-4s-img">
							<img src="../../img/storesituation/images/si-4s-img.png" alt="">
						</div>
						<div class="si-4s-name">北京运通兴宝4S店</div>
						<div class="si-4s-score cat-line-shadow">
							<span class="si-4s-star-position">
								<span class="si-4s-star star-wrap si-4s-star-gray ">
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
								</span>
								<span class="si-4s-star star-wrap si-4s-star-width ">
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
									<span class="si-4s-star-item"></span>
								</span>
							</span>
							
							<span>4.5<span class="font-xs">分</span></span>
							<span class="si-4s-padding font-s gray9">300人保养</span>
						</div>
						<div class="si-4s-addres font-s">北京市大兴区西红门镇中鼎路19号</div>	

	    			</div>
	    			<div class="si-hot-care-word font cat-line-shadow"> 热门保养</div>
	    			<div class="si-hot-care flex-wrap">
						<div class="si-hot-care-car flex">
							<div class="si-hot-care-car-img">
									<img src="../../img/storesituation/images/si-hot-care-car01.png" alt="">
							</div>
							<p class="font">大众CC</p>
							<div class="si-hot-care-price">
								<s class="ten-font gray9">¥</s>
								<s class="font-s gray9">880</s>
								<span class="gray9">&#47;</span>
								<span class="red-price">
									<span class="eve-font">¥</span>
									<span class="font">580</span>
									<span class="font-xs">起</span>
								</span>
							</div>
						</div>

						<div class="si-hot-care-car flex">
							<div class="si-hot-care-car-img car-padding">
									<img src="../../img/storesituation/images/si-hot-care-car02.png" alt="">
							</div>
							<p class="font">高尔夫</p>
							<div class="si-hot-care-price">
								<s class="ten-font gray9">¥</s>
								<s class="font-s gray9">880</s>
								<span class="gray9">&#47;</span>
								<span class="red-price">
									<span class="eve-font">¥</span>
									<span class="font">680</span>
									<span class="font-xs">起</span>
								</span>

							</div>
						</div>

	    			</div>
	    			<div class="si-hot-care flex-wrap si-hot-care-padtop">
						<div class="si-hot-care-car flex">
							<div class="si-hot-care-car-img">
									<img src="../../img/storesituation/images/si-hot-care-car01.png" alt="">
							</div>
							<p class="font">大众CC</p>
							<div class="si-hot-care-price">
								<s class="ten-font gray9">¥</s>
								<s class="font-s gray9">880</s>
								<span class="gray9">&#47;</span>
								<span class="red-price">
									<span class="eve-font">¥</span>
									<span class="font">580</span>
									<span class="font-xs">起</span>
								</span>
							</div>
						</div>

						<div class="si-hot-care-car flex">
							<div class="si-hot-care-car-img car-padding">
									<img src="../../img/storesituation/images/si-hot-care-car02.png" alt="">
							</div>
							<p class="font">高尔夫</p>
							<div class="si-hot-care-price">
								<s class="ten-font gray9">¥</s>
								<s class="font-s gray9">880</s>
								<span class="gray9">&#47;</span>
								<span class="red-price">
									<span class="eve-font">¥</span>
									<span class="font">680</span>
									<span class="font-xs">起</span>
								</span>

							</div>
						</div>

	    			</div>
	    			<p class="car-master-word font cat-line-shadow">车主点评</p>
	    			<div class="si-car-master-rate line-shadow">
						<div class="si-car-master-score">
							<div class="si-car-master-score-right">
								<div class="si-car-master-score-right-line">
									<span class="font gray6">服务态度</span>
									<span class="si-car-master-score-star-items">
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
									</span>
									<span class="si-car-socre-padl">4.5<span class="font-xs">分</span></span>
								</div>
								<div class="si-car-master-score-right-line">
									<span class="font gray6">服务态度</span>
									<span class="si-car-master-score-star-items">
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
										<span class="si-car-master-score-star"></span>
									</span>
									<span class="si-car-socre-padl1 ">5<span class="font-xs">分</span></span>
								</div>
							</div>

							<div class="si-car-master-score-left">
								<div class="car-master-score-content">
									<span class="four-e">4.8</span>
									<span class="car-master-point">分</span>
								</div>
								<div class="car-master-score-word font-s gray9">
									总体评价
								</div>
							</div>
						</div>
						<div class="rate-btn font-xs flex-wrap">
							<span class="yellow-btn flex ">全部(120)</span>
							<span class="org-btn flex gray9">好评(110)</span>
							<span class="gray-btn flex gray9">晒单(16)</span>
							<span class="gray-btn flex gray9">差评(2)</span>
						</div>

	    			</div>	
					<div class="si-personal-rate-content line-shadow">
						<div class="si-user clearfix fix-content ">
								<div class="si-user-img">
									<img src="../../img/rate/images/user-headimg.png" alt="">
								</div>
								<div class="si-user-name">
									<div class="si-user-nickname">
										<span>雨木木Crystal</span>
									</div>
									<div class="si-user-time gray9 font">
										<span>2016-11-22  20:30</span>
									</div>						 	
								</div>		
						</div>
						<div class="si-car-type font-xs gray9">
								<span class="car-type-padding">
									<span>车型:</span>
									<span>MINI Countryman </span>
								</span>
									<span>评分:</span>
									<span class="si-car-type-star-items">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</span>
						</div>
						<div class="si-car-personal-content">
							<div class="si-car-personal-word">
							服务没话说，约的时间在中午，人不多，保养挺快的，还在4S店里吃了顿饭；比平时自己去便宜了300块，希望越做越好！服务没话说，约的时间...
							</div>
							<div class="si-car-personal-img">
								<div class="si-car-personal-img-wrap-oneline flex-wrap">
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img01.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img02.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img03.png" alt="">
									</div>
								</div>
								<div class="si-car-personal-img-wrap-oneline flex-wrap">
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img04.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img05.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img06.png" alt="">
									</div>
								</div>
								<div class="si-car-personal-img-wrap-oneline flex-wrap">
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img07.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img08.png" alt="">
									</div>
									<div class="si-car-personal-img-wrap flex">
										<img src="../../img/storesituation/images/si-car-personal-img09.png" alt="">
									</div>
								</div>
								<div class="font-xs days">用户12天后追加评价</div>
								<div class="day-con">特地过了一周再来，比平时自己去洗的干净，希望越做越好！</div>	  

							</div>
						</div>		
					</div>
					<div class="si-personal-rate-content line-shadow">
						<div class="si-user clearfix fix-content ">
								<div class="si-user-img">
									<img src="../../img/rate/images/user-headimg.png" alt="">
								</div>
								<div class="si-user-name">
									<div class="si-user-nickname">
										<span>Alex Dubiln</span>
									</div>
									<div class="si-user-time gray9 font">
										<span>2016-11-22  20:30</span>
									</div>						 	
								</div>		
						</div>
						<div class="si-car-type font-xs gray9">
								<span class="car-type-padding">
									<span>车型:</span>
									<span>MINI Countryman </span>
								</span>
									<span>评分:</span>
									<span class="si-car-type-star-items">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</span>
						</div>
						<div class="si-car-personal-content">
							<div class="si-car-personal-word">
							我用乐车邦保养过，就跟在4S店是一样的保养，其实是非常划算的，全合成嘉实多，整套小保养只要467块。
							</div>
							<div class="si-car-personal-img">
								<div class="si-car-personal-img-wrap-oneline">
									<div class="si-car-personal-img-wrap si-car-personal-img-wrap-two  ">
										<img src="../../img/storesituation/images/si-car-personal-img10.png" alt="">
									</div>
								</div>  
							</div>
						</div>		
					</div>
					<div class="si-personal-rate-content line-shadow">
						<div class="si-user clearfix fix-content ">
								<div class="si-user-img">
									<img src="../../img/rate/images/user-headimg.png" alt="">
								</div>
								<div class="si-user-name">
									<div class="si-user-nickname">
										<span>雨木木Crystal</span>
									</div>
									<div class="si-user-time gray9 font">
										<span>2016-11-22  20:30</span>
									</div>						 	
								</div>		
						</div>
						<div class="si-car-type font-xs gray9">
								<span class="car-type-padding">
									<span>车型:</span>
									<span>MINI Countryman </span>
								</span>
									<span>评分:</span>
									<span class="si-car-type-star-items">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</span>
						</div>
						<div class="si-car-personal-content">
							<div class="si-car-personal-word si-car-personal-word-two">
							服务没话说，约的时间在中午，人不多，保养挺快的，还在4S店里吃了顿饭；比平时自己去便宜了300块，希望越做越好！服务没话说，约的时间...
							</div>
								<div class="font-xs days twodays">用户12天后追加评价</div>
								<div class="day-con">特地过了一周再来，比平时自己去洗的干净，希望越做越好！</div>	  
							
						</div>
					</div>
					<div class="si-personal-rate-content line-shadow">
							<div class="si-user clearfix fix-content ">
									<div class="si-user-img">
										<img src="../../img/rate/images/user-headimg.png" alt="">
									</div>
									<div class="si-user-name">
										<div class="si-user-nickname">
											<span>雨木木Crystal</span>
										</div>
										<div class="si-user-time gray9 font">
											<span>2016-11-22  20:30</span>
										</div>						 	
									</div>		
							</div>
							<div class="si-car-type font-xs gray9">
									<span class="car-type-padding">
										<span>车型:</span>
										<span>MINI Countryman </span>
									</span>
										<span>评分:</span>
										<span class="si-car-type-star-items">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</span>
							</div>
							<div class="si-car-personal-content si-car-personal-content-p">
								<div class="si-car-personal-word si-car-personal-word-two">
								车主有点忙...
								</div>	  
							</div>		
					</div>	
					<div class="ui-lading font-xs">
						努力加载中<span>...</span>
					</div>	
					<div class="si-page-bottom">
						<div class="page-bottom-btn btn btn-l ">
							我要保养
						</div>
					</div>
				
	    			<!--从这里结束写内容-->  			
				</div>
	    	</div>
	    </article>
	</section>
	</body>
</html>